@use "sass:string";

$alert_background: hsl(45, 48%, 48%);
$card_background: #fff;

$header_font: "Open Sans", sans-serif;
$header_line-height: 1.272;

$background: hsl(240, 16%, 92%);
$color: hsl(240, 16%, 16%);
$font: "Open Sans", sans-serif;
$line-height: 1.618;

$h1: 2rem;
$h2: 1.5874rem;
$h3: 1.2599rem;
$small: 0.7937rem;

$a: hsl(210, 96%, 48%);
$a_hover: hsl(210, 96%, 60%);
$transition: 250ms ease-out;


$border: hsl(240, 16%, 88%);
$shadow: 0.125rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.08);

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-stretch: 75% 100%;
  font-style: normal;
  font-weight: 300 800;
  src: local(Open Sans), local(OpenSans), url(../../fonts/OpenSans-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-stretch: 75% 100%;
  font-style: italic;
  font-weight: 300 800;
  src: local(Open Sans), local(OpenSans), url(../../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    height: 100%;
}

body {
    background-color: $background;
    color: $color;
    font: 400 1rem string.unquote("/") $line-height $font;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

.alert {
    background: $alert_background;
    color: #fff;
    font-weight: 700;
    padding: 0.5rem;
}

header,
main,
footer {
    padding: 0 0.5rem;
}

.container {
    margin: 2rem auto;
    max-width: 1152px;
}

.card {
    background-color: $card_background;
    border-radius: 0.5rem;
    box-shadow: $shadow;
    padding: 2rem 0.5rem;
}

h1 {
    font-family: $header_font;
    font-size: $h1;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    line-height: $header_line-height;
}

h2 {
    font-family: $header_font;
    font-size: $h2;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    line-height: $header_line-height;
}

h3 {
    font-family: $header_font;
    font-size: $h3;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    line-height: $header_line-height;
}

p {
    margin: 1rem 0;
}

label,
.small {
    font-size: $small;
}

a,
a:any-link {
    color: $a;
    text-decoration: none;
    transition: color $transition;
    user-select: all;
    overflow-wrap: break-word;

    &:hover {
      color: $a_hover;
    }
}

ul {
    list-style: none;
    margin: 1rem 0;
}

blockquote,
q {
    quotes: none;
}

strong {
    font-weight: 700;
}

.center {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .alert {
        padding: 0.5rem 1rem;
    }

    header,
    main,
    footer {
        padding: 0 1rem;
    }

    .card {
        padding: 4rem 1rem;
    }
}

@media only screen and (min-width: 1152px) {}
