@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: normal;
    font-weight: 300 800;
    src: local("Open Sans"), url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: italic;
    font-weight: 300 800;
    src: local("Open Sans"), url(../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

:root {
    --background-color: hsl(225, 12.5%, 96.875%);
    --text-color: hsl(225, 12.5%, 18.75%);
    --text-color-on-dark: hsl(225, 100%, 100%);
    --card-background-color: hsl(225, 12.5%, 100%);
    --card-border-color: hsl(225, 12.5%, 98.4375%) hsl(225, 12.5%, 95.3125%) hsl(225, 12.5%, 95.3125%) hsl(225, 12.5%, 98.4375%);
    --link-color: hsl(225, 100%, 50%);
    --link-color-on-hover: hsl(225, 100%, 43.75%);
    --stop-color: hsl(0, 87.5%, 43.75%);
}

*,
::after,
::before {
    border: none;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font: 400 1.125rem/1.3195em "Open Sans", Arial, Helvetica, sans-serif;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

.noscript {
    background-color: var(--stop-color);
    color: var(--text-color-on-dark);
    padding: 0.25rem;
}

header,
footer {
    padding: 2rem 1rem;
}

main {
    padding: 0 1rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
p,
ul,
li {
    margin-bottom: 1rem;
} 

h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
p:last-child,
ul:last-child,
li:last-child {
    margin-bottom: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    line-height: 1.1487em;
}

h1, .h1 {
    font-size: 2em;
    font-weight: 800;
}

h2, .h2 {
    font-size: 1.7411em;
    font-weight: 696;
}

h3, .h3 {
    font-size: 1.5157em;
    font-weight: 606;
}

h4, .h4 {
    font-size: 1.3195em;
    font-weight: 528;
}

.lead  {
    font-size: 1.1487em;
    font-weight: 459;
}

p {
    line-height: 1.5157em;
}

.small {
    font-size: 0.8706em;
    font-weight: 336;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3295s ease-out;
}

a:hover {
    color: var(--link-color-on-hover);
} 

ul {
    list-style: none;
}

strong {
    font-weight: 673;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 75rem;
    padding: inherit 1rem;
}

.card {
    background-color: var(--card-background-color);
    border: .0625rem solid;
    border-color: var(--card-border-color);
    border-radius: 0.5rem;
    padding: 1rem;
}

/* Tablet */
@media only screen and (min-width: 50rem) {}

/* Desktop */
@media only screen and (min-width: 75rem) {}
