@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: normal;
    font-weight: 300 800;
    src: local(Open Sans), url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: italic;
    font-weight: 300 800;
    src: local(Open Sans), url(../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
    font-display: swap;
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 400 700;
    src: local(Dancing Script), url(../fonts/DancingScript-VariableFont_wght.ttf) format(truetype) tech(variations);
}

:root {
    --background-1: hsl(234, 12.5%, 100%);
    --background-2: hsl(234, 12.5%, 93.75%);

    --border: 0.0625rem solid hsl(234, 12.5%, 81.25%);

    --border-radius-1: 0.5rem;
    --border-radius-2: 0.25rem;

    --shadow: 0.125rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.0625);

    --color-text-1: hsl(234, 12.5%, 18.75%);
    --color-text-2: hsl(234, 12.5%, 37.5%);

    --color-link-1: hsl(234, 100%, 50%);
    --color-link-1-hover: hsl(234, 100%, 62.5%);
    --color-link-2: hsl(234, 12.5%, 37.5%);
    --color-link-2-hover: hsl(234, 12.5%, 50%);

    --color-info: hsl(216, 62.5%, 43.75%);
    --color-stop: hsl(6, 62.5%, 50%);
    --color-caution: hsl(42, 62.5%, 43.75%);
    --color-proceed: hsl(141, 62.5%, 37.5%);

    --font-family-sans: "Open Sans", Arial, Helvetica, sans-serif;
    --font-family-handwriting: "Dancing Script", cursive;

    --size-h1: 1.618rem;
    --size-h2: 1.272rem;
    --size-small: 0.7862rem;

    --height-1: 1.618;
    --height-2: 1.272;

    --weight-light: 314;
    --weight-medium: 509;
    --weight-bold: 647;

    --transition: 0.33s ease-out;
}

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    height: 100%;
}

body {
    background-color: var(--background-2);
    color: var(--color-text-1);
    font: 400 1rem / var(--height-1) var(--font-family-sans);
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

header,
footer {
    padding: 1rem 0;
}

section {
    padding-top: 1rem;
}

.alert {
    background-color: var(--color-caution);
    color: #fff;
    font-weight: var(--weight-bold);
    padding: 0.25rem 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1rem;
}

.card {
    background-color: var(--background-1);
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadow);
    padding: 1rem;
}

hr {
    border-bottom: var(--border);
    margin: 1rem 0;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

.handwriting {
    font-family: var(--font-family-handwriting);
}

h1, .h1 {
    font-size: var(--size-h1);
    font-weight: var(--weight-bold);
    line-height: var(--height-2);
    margin-bottom: 1rem;
}

h2, .h2 {
    font-size: var(--size-h2);
    font-weight: var(--weight-bold);
    line-height: var(--height-2);
    margin-bottom: 1rem;
}

h3, .h3 {
    font-weight: var(--weight-bold);
    line-height: var(--height-2);
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--color-link-1);
    text-decoration: none;
    transition: color var(--transition);
}

a:hover {
    color: var(--color-link-1-hover);
}

blockquote,
q {
    quotes: none;
}

.small {
    font-size: var(--size-small);
}

.weight-light {
    font-weight: var(--weight-light);
}

.weight-medium {
    font-weight: var(--weight-medium);
}

strong,
.weight-bold {
    font-weight: var(--weight-bold);
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

@media only screen and (min-width: 385px) {}
@media only screen and (min-width: 769px) {}
@media only screen and (min-width: 1153px) {}
