@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: normal;
    font-weight: 300 800;
    src: local("Open Sans"), url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: italic;
    font-weight: 300 800;
    src: local("Open Sans"), url(../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

:root {
    --info-color: hsl(216, 62.5%, 43.75%);
    --stop-color: hsl(6, 62.5%, 50%);
    --caution-color: hsl(42, 62.5%, 43.75%);
    --proceed-color: hsl(141, 62.5%, 37.5%);

    --background-color: hsl(234, 12.5%, 93.75%);
    --text-color: hsl(234, 12.5%, 18.75%);
    --text-on-dark-color: hsl(234, 12.5%, 100%);
    --link-color: hsl(234, 100%, 50%);
    --link-on-hover-color: hsl(234, 100%, 62.5%);

    --card-background-color: hsl(234, 12.5%, 100%);

    --border: 0.0625rem solid hsl(234, 12.5%, 87.5%);
    --box-shadow: 0.0625rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.0625);
    --text-shadow: 0.03125rem 0.125rem 0.25rem hsla(0, 0%, 0%, 0.0625);

}

*,
::after,
::before {
    border: none;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font: 400 1rem/1.272 "Open Sans", Arial, Helvetica, sans-serif;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

header,
footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.alert {
    background-color: var(--caution-color);
    color: var(--text-on-dark-color);
    font-weight: 635;
    padding: 0.25rem 1rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem 1rem;
}

hr {
    border-width: 0 0 0.0625rem 0;
    border-bottom: var(--border);
    margin: 1rem 0;
    width: 4rem;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

ul:last-child {
    margin-bottom: 0;
}

h1, .h1 {
    font-size: 2.0582rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

h2, .h2 {
    font-size: 1.618rem;
    font-weight: 635;
    margin-bottom: 1rem;
}

h3, .h3 {
    font-size: 1.272rem;
    font-weight: 504;
    margin-bottom: 1rem;
}

p {
    line-height: 1.618;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.small {
    font-size: 0.7862rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3295s ease-out;
}

a:hover {
    color: var(--link-on-hover-color);
}

blockquote,
q {
    quotes: none;
}

.font-light {
    font-weight: 317;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 635;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

@media only screen and (min-width: 769px) {}

@media only screen and (min-width: 1153px) {}
